* {
    font-family:sans-serif;
    padding-left: 30px;
    padding-right:30px;
}

p {
    font-size:20px;
    font-weight:bold;
    background-color: black;
    color:white;
    padding:10px;
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    text-align:center;
    
}

.Title {
    font-size:50px;
    background-color: black;
    height:70px;
    text-align:center;
    color:white;
    
}

#recipe-head {
    text-align:left;
    font-size:25px;
    height:34px;
}

.img-main {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

ul {
    background-color:black;
    color:white;
    padding:20px;
    padding-left:30px;
}

.img {
    display:block;
    
}